*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body{
  background-color: #080808;
  color: #fff;
}

#header{
  
}

.container{
  
}

#name{
  font-size: 30px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}

#nav-item{
  list-style: none;
  display: inline;
  font-size: 20px;
  margin: 10px 20px;
}

#nav-name{
  color: white;
  text-decoration: none;
  position: relative;
}

#nav-name::after{
  content: '';
  width: 0%;
  height: 3px;
  background: #008b8b;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

#nav-name:hover::after{
  width: 100%;
}

#header-text{
  margin-top: 20%;
  font-size: 20px;
}

.sub-title{
  margin-top: 50px;
  font-size: 60px;
  font-weight: 600;
}